.lis {
    display: flex;
    justify-content: center;
}

.custom-select {
    padding-bottom: 30px;
}

.custom-select select{
    text-align: center;
    width: 50%;
    height: 40px;
    color: black;
    background-color: rgb(200, 200, 200);
    font-size: 20px;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
}

.title {
    font-weight: 100;
    font-size: 20px;
    color: #fff;
}

.title-sel{
    font-weight: 100;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .custom-select select {
        width: 100%;
        font-size: 15px;
        height: 35px;
    }

    .title{
        font-size: 15px;
    }
    .title-sel{
        font-size: 15px;
    }
  }

  @media only screen and (min-width: 767px) {
    .custom-select select {
        width: 80%;
    }
  }