.map {
    height: 100vh;
    display: flex;
    justify-content: center;
}

/* @media only screen and (max-width: 600px) {
    .map {
        height: 55vh;
    }
  } */

  /* Moto G4, Galaxy S5 */
  @media only screen and (min-height: 639px) and (max-height: 641px) {
    .map {
        height: 44vh;
    }
  }

  /* Pixel 2 */
  @media only screen and (min-height: 730px) and (max-height: 732px) {
    .map {
        height: 47vh;
    }
  }

   /* Pixel 2 XL*/
   @media only screen and (min-height: 822px) and (max-height: 824px) {
    .map {
        height: 53vh;
    }
  }

  /* Iphone 5, SE */
  @media only screen and (min-height: 567px) and (max-height: 569px) {
    .map {
        height: 37vh;
    }
  }

  /* Iphone 6, 7, 8 */
  @media only screen and (min-height: 666px) and (max-height: 668px) {
    .map {
        height: 42vh;
    }
  }

    /* Iphone 6+, 7+, 8+ */
  @media only screen and (min-height: 735px)  and (max-height: 737px) {
    .map {
        height: 47vh;
    }
  }

    /* Iphone X */
  @media only screen and (min-height: 811px) and (max-height: 813px) {
    .map {
        height: 52vh;
    }
  }

     /* Ipad */
     @media only screen and (min-height: 1023px)  and  (max-height: 1025px) {
        .map {
            height: 64vh;
        }
      }

       /* Ipad pro*/
     @media only screen and (min-height: 1365px) and (max-height: 1367px) {
        .map {
            height: 73vh;
        }
      }

        /* Surface Duo */
     @media only screen and (min-height: 719px) and (max-height: 721px) {
        .map {
            height: 53vh;
        }
      }

      /* Galaxy Fold */
     @media only screen and (min-height: 652px) and (max-height: 654px) {
        .map {
            height: 45vh;
        }
      }