.map {
    height: 100vh;
    display: flex;
    justify-content: center;
}

/* @media only screen and (max-width: 600px) {
    .map {
        height: 55vh;
    }
  } */

  /* Moto G4, Galaxy S5 */
  @media only screen and (min-height: 639px) and (max-height: 659px) {
    .map {
        height: 42vh;
    }
  }

  /* Pixel 2 */
  @media only screen and (min-height: 730px) and (max-height: 734px) {
    .map {
        height: 48vh;
    }
  }

  /* Iphone 5, SE */
  @media only screen and (min-height: 567px) and (max-height: 599px) {
    .map {
        height: 36vh;
    }
  }

  /* Iphone 6, 7, 8 */
  @media only screen and (min-height: 666px) and (max-height: 699px) {
    .map {
        height: 45vh;
    }
  }

    /* Iphone 6+, 7+, 8+ */
  @media only screen and (min-height: 735px)  and (max-height: 799px) {
    .map {
        height: 50vh;
    }
  }

    /* Iphone X */
  @media only screen and (min-height: 811px) and (max-height: 899px) {
    .map {
        height: 55vh;
    }
  }

     /* Ipad */
     @media only screen and (min-height: 1023px)  and (max-height: 1039px) {
        .map {
            height: 63vh;
        }
      }

       /* Ipad */
     @media only screen and (min-height: 1365px) {
        .map {
            height: 72vh;
        }
      }